<!-- <link rel="stylesheet" href="/css/footer.css"> -->
<link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">

<footer>
    <div class="description">
        <p>&#169; ASKME is  social-site</p>
    </div>

    
</footer>