footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    top: 0%;
  }
  
  footer .description {
    padding: 10px;
    color: #161414;
    width: 80px;
  }
  